<div class="calendar-container">
  <div>
    <div><h3>Feel free to make any reservation you want </h3></div>
    <div class="purpose">
      give as the reservation purpose please :
      <input
        type="text"
        class="purpose-input"
        #purposeInput
        (input)="reservation.purpose = purposeInput.value"
      />
    </div>
    <div class="hour-month">
      <div class="month-container">
        <div class="month-change">
          <button (click)="changeMonth(-1)">Previous Month</button>
          <span class="date-data">{{ selectedYear }} - {{ selectedMonth }}</span>
          <button (click)="changeMonth(1)">Next Month</button>
        </div>

        <div class="month-grid">
          <button
            *ngFor="let day of daysInMonth"
            class="day"
            (click)="selectDay(day)"
          >
            {{ day.getDate() }}
          </button>
        </div>
      </div>

      <div class="hours">
        <div *ngFor="let hour of availableHours" class="hour">
          <input
            type="checkbox"
            [id]="hour"
            [checked]="isSelectedHour(hour)"
            (change)="toggleHour(hour)"
          />
          <label [for]="hour">{{ hour }}</label>
        </div>
      </div>
      <button [disabled]="!hasCheckedHours" class="reserve-button" (click)="makeReservation()">{{modifyOrCreate}}</button>
    </div>
  </div>
 
</div>

